.page {
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);
}
.head {
  color: #ffffff;
  text-align: center;
  font-family: Raleway, Helvetica, sans-serif;
}

.main {
  padding-top: 50px;
  text-align: center;
  color: #ffffff;
  font-family: Raleway, Helvetica, sans-serif;
}

.button, input[type=submit] {
    background-color: #34c140;
    border-radius: 11px;
    border-color: #000;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    outline: none;
    cursor: pointer;
}

#decrease_btn, #reset_btn, #power_save_off {
  background-color: #ad1e13;
}

#container {
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  position: relative;
}

.onoffswitch {
    position: relative; width: 90px;
    margin: auto;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #000000; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34c140; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.high-usage {
  background: #c21500;
  background: -webkit-linear-gradient(to left, #c21500 , #ffc500);
  background: linear-gradient(to left, #c21500 , #ffc500);
}

.low-usage {
  background: #56ab2f;
  background: -webkit-linear-gradient(to left, #56ab2f , #a8e063);
  background: linear-gradient(to left, #56ab2f , #a8e063);
}

.medium-usage {
  background: #485563;
  background: -webkit-linear-gradient(to left, #485563 , #29323c);
  background: linear-gradient(to left, #485563 , #29323c);
}

input[type=text] {
    width: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: auto;
}

input[type=submit] {
  background-color: #34c140;
  font-size: 17px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
